.imagen{
    height: auto; 
    object-fit: cover ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 2%;
    position: relative; 
    width: 25vw ; 
}

.custom{
    margin: 10rem ;
    width: 5vw;
}

.letter{
    font-size: 1vw;
    font-size: 2vh
}

@media (max-width: 576px){
    .letter{
        font-size: 14px;
    }
}